---
---

<div>
  Real Bitcoin Fam is a support network for Bitcoin, cryptocurrency and Web3 builders.
  
  We welcome you no matter what chain you are building on and no matter what language you prefer. We welcome everyone whose building priorities are compatible with our vision of Bitcoin as a tool for mass access to prosperity.
  
  <blockquote>The degree to which a network facilitates interconnections determines the extent of its emergent creativity, innovation and wealth. - Radoff’s law</blockquote>
  
  <h2>Benefits</h2>
  
  By participating in Real Bitcoin Fam, or RBF, you can access the following benefits:
  
  <ul>
    <li>exchange ideas with a community of like-minded builders</li>
    <li>find peers with whom to build together</li>
    <li>get mentoring on your building journey</li>
    <li>get support as you build</li>
    <li>get exposed to new ideas and trends in the Web3 world</li>
    <li>rest assured of active moderation that ensures a positive, productive and safe community for you.</li>
  </ul>
  
  RBF is, first and foremost, a supportive and positive community of peers who make a solemn commitment to supporting each other during the arduous journeys we are each undertaking to build something in the Web3 space.
  
  RBF is not the arm of any particular blockchain, cryptocurrency, corporation or venture capital fund. RBF is a mission-oriented and values-first space that is blockchain-agnostic. We welcome everyone who finds something agreeable in our vision or approach to building. We welcome non-exclusive partnerships with any ethical entity in our industry that are mutually beneficial.
  
  The crypto space can be a cutthroat arena where sometimes it looks like 80% of the activity is ethically questionable. RBF aims to be part of that 20% that has an 80%-level impact for honoring and building the OG Bitcoin vision of a world where all have access to sound money and a chance at prosperity.
  
  RBF places ethics, mission, vision and values first, before profit.
  
  <h2>Join</h2>
  
  <a href="https://discord.gg/MaybgkHs53" target="_blank">Join our Discord to get started!</a>
  
  <h2>Vision</h2>
  
  We live in a world where the majority of people are excluded from a modern financial system; where banks, governments and other middlemen exploit their positions of power to tilt the playing field in the extreme favor of the already-wealthy, and to the great disadvantage of the most vulnerable among us.
  
  This situation causes enormous disorder, suffering and waste of human potential across the globe. But we can change this.
  
  The promise of Bitcoin is a world where everyone, everywhere has access to sound money and a fair chance at prosperity.
  
  Powerful forces are arrayed against this promise. Wealth inequality is at an all-time high. In our own midst, unethical people piggyback on Bitcoin to make things worse via scams, Ponzi schemes and outright fraud.
  
  We, the Real Bitcoin Fam, however, are committed to building tools that disintermediate economic relationships, that reduce the power of middlemen and that create uncensorable, unstoppable and permissionless protocols accessible to everyone, everywhere such that anyone can bypass banks, remittance corporations, governments and other rent-seeking middlemen to achieve a prosperous future for themselves, their children and their communities.
  
  We will not permit legacy, Web2, TradFi or government forces to stop our self-guided evolution to a more inclusive world where everyone can build their future without unfair limitations and without being exploited.
  
  Billions of people across the world are excluded from prosperity and wellbeing because elites are trying to hold us all back for their own profit, believing life is a zero-sum game. The Real Bitcoin Fam is about opening up elite status to the whole globe, to everyone who wants to grab the opportunity and work for it. 
  
  RBF plays, not a zero-sum game like Web2 powers or corrupt governments, but a positive-sum, infinite game, where prosperity is essentially limited only by merit and effort.
  
  RBF is focused on investing in people; in the future leaders and builders who see value in a different vision for the future.
  
  <h2>Mission</h2>
  
  The Real Bitcoin Fam mission is to recruit, support, mentor and promote aspiring and current builders towards the goal of building software and products that facilitate access to prosperity for everyone, everywhere.
  
  Our mission is to make a meaningful contribution towards the goal of facilitating access to prosperity for people across the globe, especially those who have been denied access to the full benefits of an accountable monetary system.
  
  <h2>Values</h2>
  
  Key RBF values include: permissionlessness, inclusivity, positivity, supportiveness, empathy, decentralization, equity and integrity.
  
  <h2>Membership</h2>
  
  Anyone is always welcome to join the public channels of the RBF discord.
  
  There is a code of conduct that will be enforced in order to maintain and a safe and constructive environment for builders.
  
  To become a **full member** of RBF, and participate in governance, RBF discord members will build something noteworthy that is completely of their own creation (as a team or individually), having been mentored by 1-3 other (full) RBF members. Candidates for full member must also demonstrate a pattern of conduct that supports the RBF mission, vision, values and code of conduct.
  
  It is expected that full members will be able to join the planned RBF DAO and play a full role in governance of the community.
  
  Any grant of governance tokens will be on a 1-person-1-vote basis in order to minimize hierarchy. There will be no team pre-mine or similar token grant that would grant some members an unfair governance advantage over others.
  
  <h2>Roadmap</h2>
  
  <ul>
    <li>Assemble founding members.</li>
    <li>Build and launch some projects!</li>
    <li>Create a DAO and distribute ownership based on merit/contributions.</li>
    <li>Create a fund to finance new RBF-mentored projects.</li>
    <li>Create a startup accelerator.</li>
  </ul>
  
  <h2>Flow</h2>
  
  The expected flow for new members is as follows:
  
  <ol>
    <li>Onboard (everyone is welcome).</li>
    <li>Train, support and/or mentor.</li>
    <li>Build.</li>
    <li>Launch.</li>
    <li>Grant full membership in Real Bitcoin Fam.</li>
  </ol>

  <h2>Contact</h2>
  
  Please <a href="https://discord.gg/MaybgkHs53" target="_blank">join the RBF discord</a> and ask any questions there. Your feedback is welcome on the contents of this page, which are certain to evolve over time based on community feedback, pull requests and governance votes.
  
</div>
