---
import { Image } from "@astrojs/image/components";
import {
  SITE_URL,
} from "../config";
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Real Bitcoin Fam
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Real Bitcoin Fam is a support network for Bitcoin, cryptocurrency and Web3 builders who align with an OG Bitcoin vibe. We welcome you no matter what chain you are building on and no matter what language you prefer.
    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <a href="https://discord.gg/MaybgkHs53" target="_blank">Join the Panmoni / Real Bitcoin Fam discord.</a>
    </p>
 
    <img
            src="https://www.realbitcoinfam.com/images/realbitcoinfam-logo.png"
            alt="Real Bitcoin Fam logo"
            width="750"
            height="719"
            class="mx-auto"
          />
  </div>
</section>
